[Desktop Entry]
Encoding=UTF-8
Name=Link to pq.c
Type=Link
URL=https://cdn.discordapp.com/attachments/531527684002676737/534160314229587968/pq.c
Icon=text-x-csrc
